@import "tailwindcss";

/* Supprime la scrollbar pour Webkit (Chrome, Edge, Safari) */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Cache la scrollbar sur Firefox */
.scrollbar-hidden {
    scrollbar-width: none;
}

/* Cache la scrollbar sur IE/Edge */
.scrollbar-hidden {
    -ms-overflow-style: none;
}

button {
    /* curseur sur hover */
    cursor: pointer;
}

.clip-triangle {
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.timelineColor {
    background-color: #d7dcd9;
}

